/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
   border-bottom : 1px solid black;
}

main {
  padding-top : 150px;
  padding-bottom : 50px;
  margin : 0 10% 0 10%;
}

header {
  height : 10%;
}

footer {
  border-top : 1px solid black;
}

h1 {
  text-align : center;
  padding-bottom : 30px;
}

.customer_status {
  border: 1px solid black;
  max-width: 650px;
}

.customer_status_box {
  border-bottom: 1px solid black;
  /*height: 40px;*/

}

.customer_status_title {
  border-right: 1px solid black;
  background-color: #EEE;
  width: 150px;
}

.customer_status_item {

}

.about-message {
  text-align : center;
  line-height: 20%;
  font-weight: 600;
}

.about-item {
  margin : 30px auto;
  width : 300px;
  padding : 50px 0;
  border : 1px solid black;
}

.back-image {
  background-image :url(cake1);
  margin-bottom : 5px;
  height: 280px;
}

.top-message {
  background-color :rgba(0,0,0,0.3);
  color : white;
  line-height : 3px;
  font-weight : 600;
  padding : 40px 40px 40px 0;
  width : 450px;
  position : relative;
  top: 55px;
  left: 150px;
}

.nav-item {
  text-align : center;
}

.btn {
  margin : 0 10px;
  width : 90px;
}

.confirm-button {
  margin : 20px auto;
}

.page-title {
  background-color : #EEEEEE;
  padding : 0 20px;
  display : inline-block;
  margin-left: 10%;
  margin-bottom: 50px;
}

.number_field {
   width : 245px;
}

.thead-color {
  background-color : #EEE;
}

/*ショッピングカート*/
.cart-table {
  border: 1px solid black;
  margin: 30px auto;
  /*border-bottom: none;*/
}

.cart-table-head {
  background-color: #EEE;
  border-bottom: 1px solid black;
}

.cart-table-body {
  border-bottom: 1px solid black;
  padding: 5px;
}

td {
  border-right: 1px solid black;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

th {
  border-right: 1px solid black;
  height: 50px;
}

/*order 注文情報入力*/
.order_items li {
  display: block;
}

/*order_showのcss*/
.order-row {
  border-bottom: 1px solid black;
}

.order-title {
  background-color: #EEE;
  border-right: 1px solid black;
  padding: 15px 0;
}

.order-item {
  padding: 15px 0;
}

